{% extends "blog/base.html" %}
{% load tags %}

{% block title %}Latest posts{% endblock %}
{% block content %}
{% if filter_by == "tag" %}
	<h1>Tag <span class="tag">{{ tag }}</span></h1>
{% elif filter_by == "date" %}
	<h1>Posts for {{ day }} {{ month }} {{ year }}</h1>
{% else %}
	<h1>Latest posts</h1>
{% endif %}
{% for post in posts %}
	<h2>
		<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
	</h2>
	<p class="date">Published {{ post.published }} by {{ post.author }}</p>
	{{ post.body|markdown|truncatewords_html:50 }}
	{% empty %}
	<p>No articles yet.</p>
{% endfor %}
{% include "blog/pagination.html" with page=page_obj %}
{% endblock %}