body { 
    margin:0;
    padding:0;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #333;
    background-color: #FBFBFB;
    display: grid;
    grid-template-areas: "content sidebar";
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10%;
}

a { 
    color:#00abff;
    text-decoration:none; 
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content {
    grid-area: content;
    padding:0 0 0 30px; 
}

blockquote {
    border-left: 5px solid #FFFF00;
    padding-left: 10px;
}

#sidebar { 
    grid-area: sidebar;
    height:100%;
    padding: 0 30px 0 0;
}

.menu-item {
    background-color: #FFFF00;
}

p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
#comment-form {
    width: 50%;
}
#comment-form p {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(min-content, 15%) 1fr;
}
#search-form {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr min-content;
}
label { 
    color:#333;
}
input, textarea { 
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:14px;
    width: 100%;
    outline: none;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
    max-width: 300px;
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}
.commenting-system {
    margin-bottom: 20px;
}
.yellow {
    background-color: #FFFF00;
}